<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Altas</servlet-name>
        <servlet-class>servlets.Altas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Altas_handheld</servlet-name>
        <servlet-class>servlets.Altas_handheld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nuevo</servlet-name>
        <servlet-class>servlets.Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificaciones</servlet-name>
        <servlet-class>servlets.Modificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregaCeros</servlet-name>
        <servlet-class>servlets.agregaCeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marca</servlet-name>
        <servlet-class>servlets.Marca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicamentos</servlet-name>
        <servlet-class>servlets.Medicamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facturacion</servlet-name>
        <servlet-class>servlets.Facturacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturacionISSEMyM</servlet-name>
        <servlet-class>Facturacion.FacturacionISSEMyM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>in.co.sneh.model.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>in.co.sneh.controller.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServletRecibo</servlet-name>
        <servlet-class>in.co.sneh.controller.FileUploadServletRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServletReciboContrato</servlet-name>
        <servlet-class>in.co.sneh.controller.FileUploadServletReciboContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKardex</servlet-name>
        <servlet-class>Servlet.ServletKardex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletK</servlet-name>
        <servlet-class>Servlet.ServletK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginISEM</servlet-name>
        <servlet-class>servlets.loginISEM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaPedidos</servlet-name>
        <servlet-class>ISEM.CapturaPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraAutomatica</servlet-name>
        <servlet-class>ISEM.CompraAutomatica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correo</servlet-name>
        <servlet-class>Correo.Correo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoAutomaticaLotes</servlet-name>
        <servlet-class>ISEM.nuevoAutomaticaLotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rechazos</servlet-name>
        <servlet-class>ISEM.Rechazos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturacionManual</servlet-name>
        <servlet-class>Facturacion.FacturacionManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Devoluciones</servlet-name>
        <servlet-class>Inventario.Devoluciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraAutomaticaHH</servlet-name>
        <servlet-class>handheld.entradas.CompraAutomaticaHH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionesHH</servlet-name>
        <servlet-class>handheld.entradas.ModificacionesHH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbasteceModula</servlet-name>
        <servlet-class>Modula.AbasteceModula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioCiclico</servlet-name>
        <servlet-class>Inventario.InventarioCiclico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JQInvenCiclico</servlet-name>
        <servlet-class>Inventario.JQInvenCiclico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ubicaciones</servlet-name>
        <servlet-class>Inventario.Ubicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaExcelRural</servlet-name>
        <servlet-class>in.co.sneh.controller.CargaExcelRural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JQIngresos</servlet-name>
        <servlet-class>Inventario.JQIngresos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargaReqRural</servlet-name>
        <servlet-class>Facturacion.DescargaReqRural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rutas</servlet-name>
        <servlet-class>Operaciones.Rutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubeRutasServlet</servlet-name>
        <servlet-class>in.co.sneh.controller.SubeRutasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubeOrdenSapServlet</servlet-name>
        <servlet-class>in.co.sneh.controller.SubeOrdenSapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaInsumoServlet</servlet-name>
        <servlet-class>CatalogoISEM.CargaInsumoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaUnidadesServlet</servlet-name>
        <servlet-class>CatalogoISEM.CargaUnidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadLocalidad</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadLocalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadMunicipio</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadJurisdiccion</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadJurisdiccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadRegion</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDoctores</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadDoctores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerLocalidad</servlet-name>
        <servlet-class>CatalogoISEM.LeerLocalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerDoctores</servlet-name>
        <servlet-class>CatalogoISEM.LeerDoctores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerRegion</servlet-name>
        <servlet-class>CatalogoISEM.LeerRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerJurisdiccion</servlet-name>
        <servlet-class>CatalogoISEM.LeerJurisdiccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerMunicipio</servlet-name>
        <servlet-class>CatalogoISEM.LeerMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaDoctores</servlet-name>
        <servlet-class>CatalogoISEM.CargaDoctores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaJurisdiccion</servlet-name>
        <servlet-class>CatalogoISEM.CargaJurisdiccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaLocalidad</servlet-name>
        <servlet-class>CatalogoISEM.CargaLocalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMunicipio</servlet-name>
        <servlet-class>CatalogoISEM.CargaMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaRegion</servlet-name>
        <servlet-class>CatalogoISEM.CargaRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDoct</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadDoct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadJuris</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadJuris</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadLocal</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadMuni</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadMuni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadReg</servlet-name>
        <servlet-class>CatalogoISEM.FileUploadReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadFactura</servlet-name>
        <servlet-class>in.co.sneh.controller.FileUploadFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadFact</servlet-name>
        <servlet-class>in.co.sneh.model.FileUploadFact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFacturas</servlet-name>
        <servlet-class>LeeExcel.CargaFacturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerFactXls</servlet-name>
        <servlet-class>LeeExcel.LeerFactXls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbasteceConcentrado</servlet-name>
        <servlet-class>Modula.AbasteceConcentrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxt</servlet-name>
        <servlet-class>ExportarTxt.ExporTxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxtCancel</servlet-name>
        <servlet-class>ExportarTxt.ExporTxtCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxtCancelFarm</servlet-name>
        <servlet-class>ExportarTxt.ExporTxtCancelFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxtFarm</servlet-name>
        <servlet-class>ExportarTxt.ExporTxtFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxtIs</servlet-name>
        <servlet-class>ExportarTxt.ExporTxtIs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporTxtIsFarm</servlet-name>
        <servlet-class>ExportarTxt.ExporTxtIsFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportMedico</servlet-name>
        <servlet-class>ExportarTxt.ExportMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogTxt</servlet-name>
        <servlet-class>ExportarTxt.LogTxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Caratula</servlet-name>
        <servlet-class>ReportesPuntos.Caratula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>ReportesPuntos.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseReseter</servlet-name>
        <servlet-class>ReportesPuntos.DatabaseReseter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaPromeStock</servlet-name>
        <servlet-class>ReportesPuntos.FacturaPromeStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelacionaFact</servlet-name>
        <servlet-class>ReportesPuntos.RelacionaFact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteGlobaLote</servlet-name>
        <servlet-class>ReportesPuntos.ReporteGlobaLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requerimiento</servlet-name>
        <servlet-class>ReportesPuntos.Requerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteadorTxt</servlet-name>
        <servlet-class>ReportesPuntos.ReporteadorTxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSecuencialFarm</servlet-name>
        <servlet-class>ReportesPuntos.ReporteSecuencialFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSecuencial</servlet-name>
        <servlet-class>ReportesPuntos.ReporteSecuencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteImprimeAuto</servlet-name>
        <servlet-class>ReportesPuntos.ReporteImprimeAuto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteImprime</servlet-name>
        <servlet-class>ReportesPuntos.ReporteImprime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteGlobalFarm</servlet-name>
        <servlet-class>ReportesPuntos.ReporteGlobalFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteGlobal</servlet-name>
        <servlet-class>ReportesPuntos.ReporteGlobal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbastoGNKLite</servlet-name>
        <servlet-class>Abastos.AbastoGNKLite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbastoGNKLitExport</servlet-name>
        <servlet-class>Abastos.AbastoGNKLitExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteadorTxt2</servlet-name>
        <servlet-class>ReportesPuntos.ReporteadorTxt2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimeFolios</servlet-name>
        <servlet-class>servlets.ImprimeFolios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarSecuelcialTodo</servlet-name>
        <servlet-class>CancelarSecuencial.CancelarSecuelcialTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarSecuencial</servlet-name>
        <servlet-class>CancelarSecuencial.CancelarSecuencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarSecuencialParcial</servlet-name>
        <servlet-class>CancelarSecuencial.CancelarSecuencialParcial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactivarSecuencial</servlet-name>
        <servlet-class>CancelarSecuencial.ReactivarSecuencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaTxt</servlet-name>
        <servlet-class>ReportesPuntos.ActualizaTxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReconstruirExist</servlet-name>
        <servlet-class>Facturacion.ReconstruirExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporteador</servlet-name>
        <servlet-class>ReportesPuntos.Reporteador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionGlobal</servlet-name>
        <servlet-class>Facturacion.DevolucionGlobal</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ValidaReciboCC</servlet-name>
        <servlet-class>ISEM.ValidaReciboCC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarAbasto</servlet-name>
        <servlet-class>Abastos.ExportarAbasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvioFolioLerma</servlet-name>
        <servlet-class>Lerma.EnvioFolioLerma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroCsrd</servlet-name>
        <servlet-class>Parametros.ParametroCsrd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteMedicamentos</servlet-name>
        <servlet-class>AutoComplete.AutoCompleteMedicamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteMedicamentosDesc</servlet-name>
        <servlet-class>AutoComplete.AutoCompleteMedicamentosDesc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Impresiones</servlet-name>
        <servlet-class>Impresiones.Impresiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaRequerimiento</servlet-name>
        <servlet-class>Requerimientos.ProcesaRequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaRequerimientoLocal</servlet-name>
        <servlet-class>Requerimientos.ProcesaRequerimientoLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedFriaReporte</servlet-name>
        <servlet-class>Facturacion.RedFriaReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarbeteCat</servlet-name>
        <servlet-class>servlets.MarbeteCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaInv</servlet-name>
        <servlet-class>MovInv.BajaInv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaExcelInv</servlet-name>
        <servlet-class>in.co.sneh.controller.CargaExcelInv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoModiPass</servlet-name>
        <servlet-class>Correo.CorreoModiPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionPass</servlet-name>
        <servlet-class>servlets.ModificacionPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcentradoxRuta</servlet-name>
        <servlet-class>servlets.ConcentradoxRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuario</servlet-name>
        <servlet-class>Password.ListaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaPassword</servlet-name>
        <servlet-class>Password.EditaPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaISO</servlet-name>
        <servlet-class>ISO9000.ListaISO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPDF</servlet-name>
        <servlet-class>ISO9000.VerPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaISOModifica</servlet-name>
        <servlet-class>ISO9000.ListaISOModifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormatoIso9001</servlet-name>
        <servlet-class>ISO9000.FormatoIso9001</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServletPDF</servlet-name>
        <servlet-class>in.co.sneh.controller.FileUploadServletPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministraRemisiones</servlet-name>
        <servlet-class>Consultas.AdministraRemisiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostosRemisiones</servlet-name>
        <servlet-class>Consultas.CostosRemisiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionesFacturas</servlet-name>
        <servlet-class>Develuciones.DevolucionesFacturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaDevolucion</servlet-name>
        <servlet-class>Develuciones.ConsultaDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedores</servlet-name>
        <servlet-class>servlets.Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteadorConsulta</servlet-name>
        <servlet-class>Reporteador.ReporteadorConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubeRutasServlet</servlet-name>
        <url-pattern>/SubeRutasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaUnidadesServlet</servlet-name>
        <url-pattern>/facturacion/CargaUnidadesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubeOrdenSapServlet</servlet-name>
        <url-pattern>/SubeOrdenSapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Altas</servlet-name>
        <url-pattern>/Altas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Altas_handheld</servlet-name>
        <url-pattern>/Altas_handheld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nuevo</servlet-name>
        <url-pattern>/Nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificaciones</servlet-name>
        <url-pattern>/Modificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregaCeros</servlet-name>
        <url-pattern>/agregaCeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marca</servlet-name>
        <url-pattern>/Marca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicamentos</servlet-name>
        <url-pattern>/Medicamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facturacion</servlet-name>
        <url-pattern>/Facturacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturacionISSEMyM</servlet-name>
        <url-pattern>/FacturacionISSEMyM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKardex</servlet-name>
        <url-pattern>/ServletKardex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletK</servlet-name>
        <url-pattern>/ServletK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginISEM</servlet-name>
        <url-pattern>/loginISEM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaPedidos</servlet-name>
        <url-pattern>/CapturaPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraAutomatica</servlet-name>
        <url-pattern>/CompraAutomatica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correo</servlet-name>
        <url-pattern>/Correo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoAutomaticaLotes</servlet-name>
        <url-pattern>/nuevoAutomaticaLotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rechazos</servlet-name>
        <url-pattern>/Rechazos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturacionManual</servlet-name>
        <url-pattern>/FacturacionManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Devoluciones</servlet-name>
        <url-pattern>/Devoluciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraAutomaticaHH</servlet-name>
        <url-pattern>/CompraAutomaticaHH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionesHH</servlet-name>
        <url-pattern>/ModificacionesHH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbasteceModula</servlet-name>
        <url-pattern>/AbasteceModula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioCiclico</servlet-name>
        <url-pattern>/InventarioCiclico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JQInvenCiclico</servlet-name>
        <url-pattern>/JQInvenCiclico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ubicaciones</servlet-name>
        <url-pattern>/Ubicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaExcelRural</servlet-name>
        <url-pattern>/CargaExcelRural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JQIngresos</servlet-name>
        <url-pattern>/JQIngresos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargaReqRural</servlet-name>
        <url-pattern>/DescargaReqRural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rutas</servlet-name>
        <url-pattern>/Rutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaInsumoServlet</servlet-name>
        <url-pattern>/facturacion/CargaInsumoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadLocalidad</servlet-name>
        <url-pattern>/FileUploadLocalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadMunicipio</servlet-name>
        <url-pattern>/FileUploadMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadJurisdiccion</servlet-name>
        <url-pattern>/FileUploadJurisdiccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadRegion</servlet-name>
        <url-pattern>/FileUploadRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDoctores</servlet-name>
        <url-pattern>/FileUploadDoctores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerLocalidad</servlet-name>
        <url-pattern>/LeerLocalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerDoctores</servlet-name>
        <url-pattern>/LeerDoctores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerRegion</servlet-name>
        <url-pattern>/LeerRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerJurisdiccion</servlet-name>
        <url-pattern>/LeerJurisdiccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerMunicipio</servlet-name>
        <url-pattern>/LeerMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaDoctores</servlet-name>
        <url-pattern>/CargaDoctores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaJurisdiccion</servlet-name>
        <url-pattern>/CargaJurisdiccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaLocalidad</servlet-name>
        <url-pattern>/CargaLocalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMunicipio</servlet-name>
        <url-pattern>/CargaMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaRegion</servlet-name>
        <url-pattern>/CargaRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDoct</servlet-name>
        <url-pattern>/FileUploadDoct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadJuris</servlet-name>
        <url-pattern>/FileUploadJuris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadLocal</servlet-name>
        <url-pattern>/FileUploadLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadMuni</servlet-name>
        <url-pattern>/FileUploadMuni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadReg</servlet-name>
        <url-pattern>/FileUploadReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadFactura</servlet-name>
        <url-pattern>/FileUploadFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadFact</servlet-name>
        <url-pattern>/FileUploadFact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFacturas</servlet-name>
        <url-pattern>/CargaFacturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerFactXls</servlet-name>
        <url-pattern>/LeerFactXls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbasteceConcentrado</servlet-name>
        <url-pattern>/AbasteceConcentrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxt</servlet-name>
        <url-pattern>/ExporTxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxtCancel</servlet-name>
        <url-pattern>/ExporTxtCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxtCancelFarm</servlet-name>
        <url-pattern>/ExporTxtCancelFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxtFarm</servlet-name>
        <url-pattern>/ExporTxtFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxtIs</servlet-name>
        <url-pattern>/ExporTxtIs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporTxtIsFarm</servlet-name>
        <url-pattern>/ExporTxtIsFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportMedico</servlet-name>
        <url-pattern>/ExportMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogTxt</servlet-name>
        <url-pattern>/LogTxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Caratula</servlet-name>
        <url-pattern>/Caratula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseReseter</servlet-name>
        <url-pattern>/DatabaseReseter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaPromeStock</servlet-name>
        <url-pattern>/FacturaPromeStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelacionaFact</servlet-name>
        <url-pattern>/RelacionaFact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteGlobaLote</servlet-name>
        <url-pattern>/ReporteGlobaLote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requerimiento</servlet-name>
        <url-pattern>/Requerimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteadorTxt</servlet-name>
        <url-pattern>/ReporteadorTxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSecuencialFarm</servlet-name>
        <url-pattern>/ReporteSecuencialFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSecuencial</servlet-name>
        <url-pattern>/ReporteSecuencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteImprimeAuto</servlet-name>
        <url-pattern>/ReporteImprimeAuto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteImprime</servlet-name>
        <url-pattern>/ReporteImprime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteGlobalFarm</servlet-name>
        <url-pattern>/ReporteGlobalFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteGlobal</servlet-name>
        <url-pattern>/ReporteGlobal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbastoGNKLite</servlet-name>
        <url-pattern>/AbastoGNKLite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbastoGNKLitExport</servlet-name>
        <url-pattern>/AbastoGNKLitExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteadorTxt2</servlet-name>
        <url-pattern>/ReporteadorTxt2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimeFolios</servlet-name>
        <url-pattern>/ImprimeFolios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarSecuelcialTodo</servlet-name>
        <url-pattern>/CancelarSecuelcialTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarSecuencial</servlet-name>
        <url-pattern>/CancelarSecuencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarSecuencialParcial</servlet-name>
        <url-pattern>/CancelarSecuencialParcial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactivarSecuencial</servlet-name>
        <url-pattern>/ReactivarSecuencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaTxt</servlet-name>
        <url-pattern>/ActualizaTxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReconstruirExist</servlet-name>
        <url-pattern>/ReconstruirExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporteador</servlet-name>
        <url-pattern>/Reporteador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionGlobal</servlet-name>
        <url-pattern>/DevolucionGlobal</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ValidaReciboCC</servlet-name>
        <url-pattern>/ValidaReciboCC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarAbasto</servlet-name>
        <url-pattern>/ExportarAbasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvioFolioLerma</servlet-name>
        <url-pattern>/EnvioFolioLerma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroCsrd</servlet-name>
        <url-pattern>/ParametroCsrd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteMedicamentos</servlet-name>
        <url-pattern>/AutoCompleteMedicamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteMedicamentosDesc</servlet-name>
        <url-pattern>/AutoCompleteMedicamentosDesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Impresiones</servlet-name>
        <url-pattern>/Impresiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaRequerimiento</servlet-name>
        <url-pattern>/ProcesaRequerimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaRequerimientoLocal</servlet-name>
        <url-pattern>/ProcesaRequerimientoLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedFriaReporte</servlet-name>
        <url-pattern>/RedFriaReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarbeteCat</servlet-name>
        <url-pattern>/MarbeteCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaInv</servlet-name>
        <url-pattern>/BajaInv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaExcelInv</servlet-name>
        <url-pattern>/CargaExcelInv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoModiPass</servlet-name>
        <url-pattern>/CorreoModiPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionPass</servlet-name>
        <url-pattern>/ModificacionPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcentradoxRuta</servlet-name>
        <url-pattern>/ConcentradoxRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuario</servlet-name>
        <url-pattern>/ListaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaPassword</servlet-name>
        <url-pattern>/EditaPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaISO</servlet-name>
        <url-pattern>/ListaISO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPDF</servlet-name>
        <url-pattern>/VerPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaISOModifica</servlet-name>
        <url-pattern>/ListaISOModifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormatoIso9001</servlet-name>
        <url-pattern>/FormatoIso9001</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServletPDF</servlet-name>
        <url-pattern>/FileUploadServletPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministraRemisiones</servlet-name>
        <url-pattern>/AdministraRemisiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostosRemisiones</servlet-name>
        <url-pattern>/CostosRemisiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionesFacturas</servlet-name>
        <url-pattern>/DevolucionesFacturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaDevolucion</servlet-name>
        <url-pattern>/ConsultaDevolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedores</servlet-name>
        <url-pattern>/Proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteadorConsulta</servlet-name>
        <url-pattern>/ReporteadorConsulta</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.gnk.service.SessionManagerService</listener-class>
    </listener>
    <listener>
        <listener-class>com.medalfa.saa.cronJobs.FoliosUrgentesCron</listener-class>
    </listener>
    <listener>
        <listener-class>in.co.sneh.service.SessionManagerService</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
</web-app>
